# no eclipse project directory
.project
.pydevproject
.settings

# no result directory
/database_py
/dest_database
/result
/temp_dir

# no source file in specific directory
/src_database/**
/apks_to_install/**
/apk_to_resign/**

# no pyc
**.pyc
